* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}
html {
  font-size: 10px;
}
body {
  font-family: "Righteous", sans-serif;

  background-image: url(/assets/background.png);
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  gap: 0.1rem;
}

.card {
  width: 15rem;
  height: 15rem;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.9s;
  -webkit-user-drag: none;
}

.card_front {
  transform: rotateY(180deg);
  background: rgb(91, 188, 253);
}
img {
  border-radius: 2rem;
  height: 15rem;
  width: 15rem;
  -webkit-user-drag: none;
  pointer-events: none;
}

.flip {
  transform: rotateY(180deg);
}

.card_back,
.card_front {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.45);
  backface-visibility: hidden;
  cursor: pointer;
  -webkit-user-drag: none;
}

.card_back {
  background-color: #19d2f3;
  background-position: center;
}
#logo {
  width: 20rem;
  height: 10rem;
  background-image: url(../costas.png);
  background-position: center;
  background-size: cover;
  margin-top: 5rem;
}

h1 {
  color: white;
  font-size: 10rem;
  text-shadow: 0.2rem 0.4rem 0.5rem rgb(21, 20, 20);
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}
#gameOver {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 5rem;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  text-align: center;
  padding: 10rem;
}

#flaming {
  width: 45rem;
  height: 45rem;
  margin-top: 10rem;
  margin-bottom: 15rem;
  background-image: url(/assets/flaming.png);
  background-position: center;
}

#restart {
  padding: 2rem;
  font-size: 2rem;
  background-color: yellow;
  border: none;
  border-radius: 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.4rem 0.5rem rgb(21, 20, 20);
}

#restart:active {
  transform: translateY(0.4rem);
}

#gameBoard {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.play {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  font-size: 6rem;
  cursor: pointer;
}

.play:active {
  transform: translateY(0.4rem);
}

@media (max-width: 2560px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1920px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 5px;
  }
}
